<h2>Vendas</h2>

<% @vendas.each do |v| %>
    ID Venda: <%= v.id %> <%= link_to "Mostrar", venda_path(v) %> <%= link_to "Remover", venda_path(v),method: :delete, data: { confirm: "Confirmar remoção" } %><br>
    Total <%= v.valor_total %>
    <br><br>
    <% end %>

<%= link_to "Nova Venda",  new_venda_path %>

<%= link_to "Voltar",  :back %>